# Data Analysis and Manipulation

## Importing the required libraries

In [8]:
# Importing the required libraries
import pandas as pd
import smtplib
import requests
from bs4 import BeautifulSoup
import gensim
import nltk
from PIL import Image
import openpyxl

## 1a)Using Python, can you organize all the duplicates (column "names") at the top?

In [9]:
# Read the csv file
df = pd.read_csv("Document 1a (name).csv")

print(df.head)

<bound method NDFrame.head of       Unique ID                   Full name
0             1  A. Jean Pierre AKAKPO-AKUE
1             2          A. Karim Soumahoro
2             3       A. Serhat Celikyilmaz
3             4             A'Melody Jacobi
4             5                  Aabdallah
...         ...                         ...
8832       8844              Zoumana Diallo
8833       8845                Zoura TRA BI
8834       8846             Zubair Abubakar
8835       8847                  Zyad Bally
8836       8848                  Zyad Limam

[8837 rows x 2 columns]>

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8837 entries, 0 to 8836
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Unique ID  8837 non-null   int64
 1   Full name  8836 non-null   object
dtypes: int64(1), object(1)
memory usage: 138.2+ KB

In [11]:
# Move duplicates to the top
df.sort_values("Full name", inplace=True)

# Print or save the updated dataframe
print(df)

      Unique ID                   Full name
3             4             A'Melody Jacobi
0             1  A. Jean Pierre AKAKPO-AKUE
1             2          A. Karim Soumahoro
2             3       A. Serhat Celikyilmaz
78           80   ABOU BAKR LAMINE OUATTARA
...         ...                         ...
2750       2759                  éric didia
2758       2767                 éric mandon
2764       2772                  éric mobio
2772       2780    éric paul-roland n'goran
6362       6374                         NaN

[8837 rows x 2 columns]

In [12]:
# Identify duplicates in the "Full name" column
duplicate_names = df[df.duplicated(subset=["Full name"], keep=False)]
print(duplicate_names)

      Unique ID         Full name
34           35       Abdon Ottro
33           33       Abdon Ottro
32           34       Abdon Ottro
46           46  Abdoulaye Diarra
45           47  Abdoulaye Diarra
...         ...               ...
7289       7300       rita ismail
7477       7488   salem beejay WB
7478       7489   salem beejay WB
8264       8276   thomas O'keeffe
8263       8275   thomas O'keeffe

[1434 rows x 2 columns]

In [13]:
# Move duplicate rows to the top of the DataFrame
df = pd.concat([duplicate_names, df])

# Drop duplicates from the original DataFrame
df.drop_duplicates(subset=["Full name"], keep=False, inplace=True)

# Display the updated DataFrame
print(df)

# Or save the updated DataFrame to a new Excel file
# df.to_excel("Document 1a_duplicates_at_top.xlsx", index=False)

      Unique ID                   Full name
3             4             A'Melody Jacobi
0             1  A. Jean Pierre AKAKPO-AKUE
1             2          A. Karim Soumahoro
2             3       A. Serhat Celikyilmaz
78           80   ABOU BAKR LAMINE OUATTARA
...         ...                         ...
2750       2759                  éric didia
2758       2767                 éric mandon
2764       2772                  éric mobio
2772       2780    éric paul-roland n'goran
6362       6374                         NaN

[7403 rows x 2 columns]

## 1b) Using Python, can you organize all the duplicates (column "email") at the top

In [14]:
# Read excel file
df_b = pd.read_csv('Document 1b (email).csv')
print(df_b)

           #                  Email Address
0          1           yuahnnes@hotmail.com
1          2      karim.soumahoro@gmail.com
2          3          scelikyilmaz@d-ev.com
3          4                            NaN
4          5                            NaN
...      ...                            ...
10125  10124    raj.tandon@algonquincap.com
10126  10125          ygal@stillcounting.ca
10127  10126  m.latour@assurancesclavel.com
10128  10127        rayan.clavel@hotmail.fr
10129  10128  sophiaclavel94@googlemail.com

[10130 rows x 2 columns]

In [15]:
# Checking summary of data
df_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10130 entries, 0 to 10129
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   #              10130 non-null  int64
 1   Email Address  6722 non-null   object
dtypes: int64(1), object(1)
memory usage: 158.4+ KB

In [16]:
# Checking th sum of NaN values 
nan_sum = df_b.isna().sum()
print(nan_sum)

#                   0
Email Address    3408
dtype: int64

In [18]:
# Drop rows containing Nan values
df_b.dropna(inplace=True)

# Confirming we have drop the NaN values
df_b.shape

(6722, 2)

In [19]:
# Sort the DataFrame by the "email" column
df_b.sort_values("Email Address", inplace=True)

# Identify duplicates in the "email" column
duplicate_emails = df_b[df_b.duplicated(subset=["Email Address"], keep=False)]

print(duplicate_emails)

         #                               Email Address
67      67                               82@hotmail.fr
66      68                               82@hotmail.fr
2617  2625         Annemarie.eliaka@ordredesavocats.ci
2616  2624         Annemarie.eliaka@ordredesavocats.ci
4233  4243                       CODEPRIM@CODEPRIM.com
...    ...                                         ...
8771  8782                   yves.tt@ttmaintenance.com
8799  8810                       zahara_tiacoh@sgs.com
8798  8811                       zahara_tiacoh@sgs.com
145    146  zongoadama@yahoo.fr\ndemoterafric@yahoo.fr
144    145  zongoadama@yahoo.fr\ndemoterafric@yahoo.fr

[1608 rows x 2 columns]

In [20]:
# Move duplicate rows to the top of the DataFrame
df_b = pd.concat([duplicate_emails, df_b])

# Drop duplicates from the original DataFrame
df_b.drop_duplicates(subset=["Email Address"], keep=False, inplace=True)

# Print the updated DataFrame
print(df_b)

# Or save the updated DataFrame to a new Excel file
# df.to_excel("Document_1b_duplicates_at_top.xlsx", index=False)

         #                                      Email Address
5364  5374                                0690028f@ac-lyon.fr
7188  7200  100001449331306@facebook.com, rayan.clavel@hot...
215    216                       100005649706485@facebook.com
3817  3828                       100009308297969@facebook.com
3272  3280                       100009322354472@facebook.com
...    ...                                                ...
8827  8840                   zouhair.chaoul@alios-finance.com
8832  8844                         zoumana.diallo@bollore.com
2059  2068  zoure.damase@aide-et-action.org\nzdamase@gmail...
8834  8846                                   zuby52@gmail.com
3898  3908                                zurich@impacthub.ch

[5114 rows x 2 columns]

# 1c) Using Python, can you organize all the duplicates (columns "phone 1", "phone 2", "phone 3", "phone 4") at the top

In [26]:
# Read csv
df_c = pd.read_csv('Document 1c (Phone).csv')
print(df_c)

      Unnamed: 0          Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0           2557             1051883        NaN        NaN        NaN
1           6275             1054786        NaN        NaN        NaN
2           1619             3044586        NaN        NaN        NaN
3           2186             4006597        NaN        NaN        NaN
4           1367             4326900        NaN        NaN        NaN
...          ...                 ...        ...        ...        ...
4251        6886        See whatsapp        NaN        NaN        NaN
4252        4682         XX 88 59 78        NaN        NaN        NaN
4253        3578  XXX 07 72 11 66 42        NaN        NaN        NaN
4254         162     XXX 08029305827        NaN        NaN        NaN
4255        3550   zOu est le numero        NaN        NaN        NaN

[4256 rows x 5 columns]

In [27]:
# Checking summary of data
df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4256 entries, 0 to 4255
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4256 non-null   int64
 1   Unnamed: 1  4256 non-null   object
 2   Unnamed: 2  765 non-null    object
 3   Unnamed: 3  338 non-null    object
 4   Unnamed: 4  1 non-null      object
dtypes: int64(1), object(4)
memory usage: 166.4+ KB

In [28]:
# Checking sum of NaN values
nan_sum = df_c.isna().sum()
print(nan_sum)

Unnamed: 0       0
Unnamed: 1       0
Unnamed: 2    3491
Unnamed: 3    3918
Unnamed: 4    4255
dtype: int64

For the Document 1c (Phone) I noticed the columns are not named and also there are some entries with more than one number, for this process I will rename the unamed: 1 to phone 1, unamed: 2 to phone 2, unamed:3 to phone 3 and unamed:4 to phone 4.

I will also drop the first column unamed:0

In [29]:
# Assign appropriate column names
df_c.columns = ["Index", "Phone 1", "Phone 2", "Phone 3", "Phone 4"]

# Drop the first column (unnamed index)
df_c = df_c.drop(columns=["Index"])

# Print the DataFrame after setting column names
print(df_c)

                 Phone 1 Phone 2 Phone 3 Phone 4
0                1051883     NaN     NaN     NaN
1                1054786     NaN     NaN     NaN
2                3044586     NaN     NaN     NaN
3                4006597     NaN     NaN     NaN
4                4326900     NaN     NaN     NaN
...                  ...     ...     ...     ...
4251        See whatsapp     NaN     NaN     NaN
4252         XX 88 59 78     NaN     NaN     NaN
4253  XXX 07 72 11 66 42     NaN     NaN     NaN
4254     XXX 08029305827     NaN     NaN     NaN
4255   zOu est le numero     NaN     NaN     NaN

[4256 rows x 4 columns]

In [31]:
# Checking sum of NaN values
nan_sum = df_c.isna().sum()
print(nan_sum)

Phone 1       0
Phone 2    3491
Phone 3    3918
Phone 4    4255
dtype: int64

This shows that Phone 4 does no have any records, for this case we can drop the entire column

In [32]:
# Drop the "phone 4" column
df_c.drop("Phone 4", axis=1, inplace=True)

In [33]:
# Identify duplicates across multiple columns
duplicate_phones = df_c[df_c.duplicated(subset=["Phone 1", "Phone 2", "Phone 3"], keep=False)]

print(duplicate_phones)

           Phone 1 Phone 2 Phone 3
102    22507575747     NaN     NaN
103    22507575747     NaN     NaN
146   442089410240     NaN     NaN
147   442089410240     NaN     NaN
165   447999423173     NaN     NaN
...            ...     ...     ...
4247  See whatsapp     NaN     NaN
4248  See whatsapp     NaN     NaN
4249  See whatsapp     NaN     NaN
4250  See whatsapp     NaN     NaN
4251  See whatsapp     NaN     NaN

[435 rows x 3 columns]

In [34]:
# Move duplicate rows to the top of the DataFrame
df_c = pd.concat([duplicate_phones, df_c.drop_duplicates(subset=["Phone 1", "Phone 2", "Phone 3"], keep=False)])

# Drop duplicates from the original DataFrame
df_c.drop_duplicates(subset=["Phone 1", "Phone 2", "Phone 3"], keep=False, inplace=True)

# Print or save the updated DataFrame
print(df_c)

                 Phone 1 Phone 2 Phone 3
0                1051883     NaN     NaN
1                1054786     NaN     NaN
2                3044586     NaN     NaN
3                4006597     NaN     NaN
4                4326900     NaN     NaN
...                  ...     ...     ...
4245            97756518     NaN     NaN
4252         XX 88 59 78     NaN     NaN
4253  XXX 07 72 11 66 42     NaN     NaN
4254     XXX 08029305827     NaN     NaN
4255   zOu est le numero     NaN     NaN

[3821 rows x 3 columns]

## 1d) Using Python, can you organize all the duplicates (column "URL") at the top