# Data Analysis and Manipulation

## Importing the required libraries

In [17]:
# Importing the required libraries
import pandas as pd
import smtplib
import requests
from bs4 import BeautifulSoup
import gensim
import nltk
from PIL import Image
import openpyxl

Using Python, can you organize all the duplicates (column "names") at the top?

In [18]:
# Read the Excel file
df = pd.read_excel("Document 1a (name).xlsx")

print(df.head)

<bound method NDFrame.head of       Unique ID                   Full name
0             1  A. Jean Pierre AKAKPO-AKUE
1             2          A. Karim Soumahoro
2             3       A. Serhat Celikyilmaz
3             4             A'Melody Jacobi
4             5                  Aabdallah
...         ...                         ...
8832       8844              Zoumana Diallo
8833       8845                Zoura TRA BI
8834       8846             Zubair Abubakar
8835       8847                  Zyad Bally
8836       8848                  Zyad Limam

[8837 rows x 2 columns]>

In [19]:
# Move duplicates to the top
df.sort_values("Full name", inplace=True)

# Print or save the updated dataframe
print(df)

      Unique ID                   Full name
3             4             A'Melody Jacobi
0             1  A. Jean Pierre AKAKPO-AKUE
1             2          A. Karim Soumahoro
2             3       A. Serhat Celikyilmaz
78           80   ABOU BAKR LAMINE OUATTARA
...         ...                         ...
2750       2759                  éric didia
2758       2767                 éric mandon
2764       2772                  éric mobio
2772       2780    éric paul-roland n'goran
6362       6374                         NaN

[8837 rows x 2 columns]

In [16]:
# Identify duplicates in the "Full name" column
duplicate_names = df[df.duplicated(subset=["Full name"], keep=False)]
print(duplicate_names)

# Move duplicate rows to the top of the DataFrame
#df = pd.concat([duplicate_names, df])

# Drop duplicates from the original DataFrame
#df.drop_duplicates(subset=["Full name"], keep=False, inplace=True)

# Display the updated DataFrame
#print(df)

# Or save the updated DataFrame to a new Excel file
# df.to_excel("Document 1a_duplicates_at_top.xlsx", index=False)

      Unique ID                   Full name
3             4             A'Melody Jacobi
0             1  A. Jean Pierre AKAKPO-AKUE
1             2          A. Karim Soumahoro
2             3       A. Serhat Celikyilmaz
78           80   ABOU BAKR LAMINE OUATTARA
...         ...                         ...
2750       2759                  éric didia
2758       2767                 éric mandon
2764       2772                  éric mobio
2772       2780    éric paul-roland n'goran
6362       6374                         NaN

[7403 rows x 2 columns]