# Data Analysis and Manipulation

## Importing the required libraries

In [1]:
# Importing the required libraries
import pandas as pd
import smtplib
import requests
from bs4 import BeautifulSoup
import gensim
import nltk
from PIL import Image
import openpyxl

# Section 1

## 1a)Using Python, can you organize all the duplicates (column "names") at the top?

In [2]:
# Read the csv file
df = pd.read_csv("Document 1a (name).csv")

print(df.head)

<bound method NDFrame.head of       Unique ID                   Full name
0             1  A. Jean Pierre AKAKPO-AKUE
1             2          A. Karim Soumahoro
2             3       A. Serhat Celikyilmaz
3             4             A'Melody Jacobi
4             5                  Aabdallah
...         ...                         ...
8832       8844              Zoumana Diallo
8833       8845                Zoura TRA BI
8834       8846             Zubair Abubakar
8835       8847                  Zyad Bally
8836       8848                  Zyad Limam

[8837 rows x 2 columns]>

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8837 entries, 0 to 8836
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Unique ID  8837 non-null   int64
 1   Full name  8836 non-null   object
dtypes: int64(1), object(1)
memory usage: 138.2+ KB

In [4]:
# Move duplicates to the top
df.sort_values("Full name", inplace=True)

# Print or save the updated dataframe
print(df)

      Unique ID                   Full name
3             4             A'Melody Jacobi
0             1  A. Jean Pierre AKAKPO-AKUE
1             2          A. Karim Soumahoro
2             3       A. Serhat Celikyilmaz
78           80   ABOU BAKR LAMINE OUATTARA
...         ...                         ...
2750       2759                  éric didia
2758       2767                 éric mandon
2764       2772                  éric mobio
2772       2780    éric paul-roland n'goran
6362       6374                         NaN

[8837 rows x 2 columns]

In [5]:
# Identify duplicates in the "Full name" column
duplicate_names = df[df.duplicated(subset=["Full name"], keep=False)]
print(duplicate_names)

      Unique ID         Full name
34           35       Abdon Ottro
33           33       Abdon Ottro
32           34       Abdon Ottro
46           46  Abdoulaye Diarra
45           47  Abdoulaye Diarra
...         ...               ...
7289       7300       rita ismail
7477       7488   salem beejay WB
7478       7489   salem beejay WB
8264       8276   thomas O'keeffe
8263       8275   thomas O'keeffe

[1434 rows x 2 columns]

In [6]:
# Move duplicate rows to the top of the DataFrame
df = pd.concat([duplicate_names, df])

# Drop duplicates from the original DataFrame
df.drop_duplicates(subset=["Full name"], keep=False, inplace=True)

# Display the updated DataFrame
print(df)

# Or save the updated DataFrame to a new Excel file
# df.to_excel("Document 1a_duplicates_at_top.xlsx", index=False)

      Unique ID                   Full name
3             4             A'Melody Jacobi
0             1  A. Jean Pierre AKAKPO-AKUE
1             2          A. Karim Soumahoro
2             3       A. Serhat Celikyilmaz
78           80   ABOU BAKR LAMINE OUATTARA
...         ...                         ...
2750       2759                  éric didia
2758       2767                 éric mandon
2764       2772                  éric mobio
2772       2780    éric paul-roland n'goran
6362       6374                         NaN

[7403 rows x 2 columns]

## 1b) Using Python, can you organize all the duplicates (column "email") at the top

In [7]:
# Read excel file
df_b = pd.read_csv('Document 1b (email).csv')
print(df_b)

           #                  Email Address
0          1           yuahnnes@hotmail.com
1          2      karim.soumahoro@gmail.com
2          3          scelikyilmaz@d-ev.com
3          4                            NaN
4          5                            NaN
...      ...                            ...
10125  10124    raj.tandon@algonquincap.com
10126  10125          ygal@stillcounting.ca
10127  10126  m.latour@assurancesclavel.com
10128  10127        rayan.clavel@hotmail.fr
10129  10128  sophiaclavel94@googlemail.com

[10130 rows x 2 columns]

In [8]:
# Checking summary of data
df_b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10130 entries, 0 to 10129
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   #              10130 non-null  int64
 1   Email Address  6722 non-null   object
dtypes: int64(1), object(1)
memory usage: 158.4+ KB

In [9]:
# Checking th sum of NaN values 
nan_sum = df_b.isna().sum()
print(nan_sum)

#                   0
Email Address    3408
dtype: int64

In [10]:
# Drop rows containing Nan values
df_b.dropna(inplace=True)

# Confirming we have drop the NaN values
df_b.shape

(6722, 2)

In [11]:
# Sort the DataFrame by the "email" column
df_b.sort_values("Email Address", inplace=True)

# Identify duplicates in the "email" column
duplicate_emails = df_b[df_b.duplicated(subset=["Email Address"], keep=False)]

print(duplicate_emails)

         #                               Email Address
67      67                               82@hotmail.fr
66      68                               82@hotmail.fr
2617  2625         Annemarie.eliaka@ordredesavocats.ci
2616  2624         Annemarie.eliaka@ordredesavocats.ci
4233  4243                       CODEPRIM@CODEPRIM.com
...    ...                                         ...
8771  8782                   yves.tt@ttmaintenance.com
8799  8810                       zahara_tiacoh@sgs.com
8798  8811                       zahara_tiacoh@sgs.com
145    146  zongoadama@yahoo.fr\ndemoterafric@yahoo.fr
144    145  zongoadama@yahoo.fr\ndemoterafric@yahoo.fr

[1608 rows x 2 columns]

In [12]:
# Move duplicate rows to the top of the DataFrame
df_b = pd.concat([duplicate_emails, df_b])

# Drop duplicates from the original DataFrame
df_b.drop_duplicates(subset=["Email Address"], keep=False, inplace=True)

# Print the updated DataFrame
print(df_b)

# Or save the updated DataFrame to a new Excel file
# df.to_excel("Document_1b_duplicates_at_top.xlsx", index=False)

         #                                      Email Address
5364  5374                                0690028f@ac-lyon.fr
7188  7200  100001449331306@facebook.com, rayan.clavel@hot...
215    216                       100005649706485@facebook.com
3817  3828                       100009308297969@facebook.com
3272  3280                       100009322354472@facebook.com
...    ...                                                ...
8827  8840                   zouhair.chaoul@alios-finance.com
8832  8844                         zoumana.diallo@bollore.com
2059  2068  zoure.damase@aide-et-action.org\nzdamase@gmail...
8834  8846                                   zuby52@gmail.com
3898  3908                                zurich@impacthub.ch

[5114 rows x 2 columns]

# 1c) Using Python, can you organize all the duplicates (columns "phone 1", "phone 2", "phone 3", "phone 4") at the top

In [13]:
# Read csv
df_c = pd.read_csv('Document 1c (Phone).csv')
print(df_c)

      Unnamed: 0          Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4
0           2557             1051883        NaN        NaN        NaN
1           6275             1054786        NaN        NaN        NaN
2           1619             3044586        NaN        NaN        NaN
3           2186             4006597        NaN        NaN        NaN
4           1367             4326900        NaN        NaN        NaN
...          ...                 ...        ...        ...        ...
4251        6886        See whatsapp        NaN        NaN        NaN
4252        4682         XX 88 59 78        NaN        NaN        NaN
4253        3578  XXX 07 72 11 66 42        NaN        NaN        NaN
4254         162     XXX 08029305827        NaN        NaN        NaN
4255        3550   zOu est le numero        NaN        NaN        NaN

[4256 rows x 5 columns]

In [14]:
# Checking summary of data
df_c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4256 entries, 0 to 4255
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  4256 non-null   int64
 1   Unnamed: 1  4256 non-null   object
 2   Unnamed: 2  765 non-null    object
 3   Unnamed: 3  338 non-null    object
 4   Unnamed: 4  1 non-null      object
dtypes: int64(1), object(4)
memory usage: 166.4+ KB

In [15]:
# Checking sum of NaN values
nan_sum = df_c.isna().sum()
print(nan_sum)

Unnamed: 0       0
Unnamed: 1       0
Unnamed: 2    3491
Unnamed: 3    3918
Unnamed: 4    4255
dtype: int64

For the Document 1c (Phone) I noticed the columns are not named and also there are some entries with more than one number, for this process I will rename the unamed: 1 to phone 1, unamed: 2 to phone 2, unamed:3 to phone 3 and unamed:4 to phone 4.

I will also drop the first column unamed:0

In [16]:
# Assign appropriate column names
df_c.columns = ["Index", "Phone 1", "Phone 2", "Phone 3", "Phone 4"]

# Drop the first column (unnamed index)
df_c = df_c.drop(columns=["Index"])

# Print the DataFrame after setting column names
print(df_c)

                 Phone 1 Phone 2 Phone 3 Phone 4
0                1051883     NaN     NaN     NaN
1                1054786     NaN     NaN     NaN
2                3044586     NaN     NaN     NaN
3                4006597     NaN     NaN     NaN
4                4326900     NaN     NaN     NaN
...                  ...     ...     ...     ...
4251        See whatsapp     NaN     NaN     NaN
4252         XX 88 59 78     NaN     NaN     NaN
4253  XXX 07 72 11 66 42     NaN     NaN     NaN
4254     XXX 08029305827     NaN     NaN     NaN
4255   zOu est le numero     NaN     NaN     NaN

[4256 rows x 4 columns]

In [17]:
# Checking sum of NaN values
nan_sum = df_c.isna().sum()
print(nan_sum)

Phone 1       0
Phone 2    3491
Phone 3    3918
Phone 4    4255
dtype: int64

This shows that Phone 4 does no have any records, for this case we can drop the entire column

In [18]:
# Drop the "phone 4" column
df_c.drop("Phone 4", axis=1, inplace=True)

In [19]:
# Identify duplicates across multiple columns
duplicate_phones = df_c[df_c.duplicated(subset=["Phone 1", "Phone 2", "Phone 3"], keep=False)]

print(duplicate_phones)

           Phone 1 Phone 2 Phone 3
102    22507575747     NaN     NaN
103    22507575747     NaN     NaN
146   442089410240     NaN     NaN
147   442089410240     NaN     NaN
165   447999423173     NaN     NaN
...            ...     ...     ...
4247  See whatsapp     NaN     NaN
4248  See whatsapp     NaN     NaN
4249  See whatsapp     NaN     NaN
4250  See whatsapp     NaN     NaN
4251  See whatsapp     NaN     NaN

[435 rows x 3 columns]

In [20]:
# Move duplicate rows to the top of the DataFrame
df_c = pd.concat([duplicate_phones, df_c.drop_duplicates(subset=["Phone 1", "Phone 2", "Phone 3"], keep=False)])

# Drop duplicates from the original DataFrame
df_c.drop_duplicates(subset=["Phone 1", "Phone 2", "Phone 3"], keep=False, inplace=True)

# Print or save the updated DataFrame
print(df_c)

                 Phone 1 Phone 2 Phone 3
0                1051883     NaN     NaN
1                1054786     NaN     NaN
2                3044586     NaN     NaN
3                4006597     NaN     NaN
4                4326900     NaN     NaN
...                  ...     ...     ...
4245            97756518     NaN     NaN
4252         XX 88 59 78     NaN     NaN
4253  XXX 07 72 11 66 42     NaN     NaN
4254     XXX 08029305827     NaN     NaN
4255   zOu est le numero     NaN     NaN

[3821 rows x 3 columns]

## 1d) Using Python, can you organize all the duplicates (column "URL") at the top

In [21]:
# read file
df_d = pd.read_csv("Document 1d (URL).csv")
print(df_d)

      Unique ID                                                URL
0           502  apps.apple.com/ae/app/linkedin-job-search-news...
1          6143  ci.linkedin.com/in/mohamed-adnane-a-9a9531179?...
2          7062      ci.linkedin.com/in/pierluigi-passera-72241a19
3          7064      ci.linkedin.com/in/pierluigi-passera-72241a19
4          7533           ci.linkedin.com/in/sami-yassine-11b424a1
...         ...                                                ...
2481       6147              www.linkedin.com/in/zitouni-med-mehdi
2482       8836            www.linkedin.com/in/zokou-nina-062223a6
2483       8841       www.linkedin.com/in/zouhair-elharti-36a29552
2484       8845          www.linkedin.com/in/zoura-tra-bi-550a5ab5
2485       5483        www.zoominfo.com/p/Malika-Tanny/-1699799427

[2486 rows x 2 columns]

In [22]:
# Checking the info
df_d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2486 entries, 0 to 2485
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Unique ID  2486 non-null   int64
 1   URL        2486 non-null   object
dtypes: int64(1), object(1)
memory usage: 39.0+ KB

In [23]:
# Getting the null values
df_d_null = df_d.isna().sum()
print(df_d_null)

Unique ID    0
URL          0
dtype: int64

In [24]:
# Identifying duplicated URL
duplicate_url = df_d[df_d.duplicated(subset=["URL"], keep=False)]
print(duplicate_url)

      Unique ID                                                URL
2          7062      ci.linkedin.com/in/pierluigi-passera-72241a19
3          7064      ci.linkedin.com/in/pierluigi-passera-72241a19
331         555                 www.linkedin.com/in/alloysiusattah
332         556                 www.linkedin.com/in/alloysiusattah
983        3198      www.linkedin.com/in/francois-hurstel-4b089021
984        3199      www.linkedin.com/in/francois-hurstel-4b089021
1032       3376            www.linkedin.com/in/ghislain-c-aaa9606b
1033       3377            www.linkedin.com/in/ghislain-c-aaa9606b
1155       3901         www.linkedin.com/in/imane-rayess-54a53035/
1156       3902         www.linkedin.com/in/imane-rayess-54a53035/
1177       2081        www.linkedin.com/in/ismahill-diaby-31897b9/
1178       3983        www.linkedin.com/in/ismahill-diaby-31897b9/
1286       4374    www.linkedin.com/in/jo%C3%ABlle-guede-309321117
1287       4373    www.linkedin.com/in/jo%C3%ABlle-guede-309321117
1330       4458  www.linkedin.com/in/joseph-khoury-770174159?or...
1331       4457  www.linkedin.com/in/joseph-khoury-770174159?or...
1544       5305       www.linkedin.com/in/louis-davoust-3664211a9/
1545       5306       www.linkedin.com/in/louis-davoust-3664211a9/
1795       1400  www.linkedin.com/in/moustapha-boulamine-41b15262/
1796       6245  www.linkedin.com/in/moustapha-boulamine-41b15262/
2010       6457  www.linkedin.com/in/philom%C3%A8ne-naounou-504...
2011       7059  www.linkedin.com/in/philom%C3%A8ne-naounou-504...
2462       8773            www.linkedin.com/in/yves-delafon-125b3a
2463       8774            www.linkedin.com/in/yves-delafon-125b3a
2464       8775            www.linkedin.com/in/yves-delafon-125b3a

In [25]:
# Move duplicate rows to the top of the dataset
df_d = pd.concat([duplicate_url, df_d.drop_duplicates(subset=["URL"], keep=False)])

# Drop duplicates from original dataset
df_d.drop_duplicates(subset=["URL"], keep=False, inplace=True)

print(df_d)

# Or save the updated DataFrame to a new Excel file
# df_d.to_csv("Document 1d (URL)_top.csv", index=False)

      Unique ID                                                URL
0           502  apps.apple.com/ae/app/linkedin-job-search-news...
1          6143  ci.linkedin.com/in/mohamed-adnane-a-9a9531179?...
4          7533           ci.linkedin.com/in/sami-yassine-11b424a1
5           980     http://linkedin.com/in/aslam-m-h-taher-2b697a4
6          1119      http://linkedin.com/in/ayouba-seydou-055b6349
...         ...                                                ...
2481       6147              www.linkedin.com/in/zitouni-med-mehdi
2482       8836            www.linkedin.com/in/zokou-nina-062223a6
2483       8841       www.linkedin.com/in/zouhair-elharti-36a29552
2484       8845          www.linkedin.com/in/zoura-tra-bi-550a5ab5
2485       5483        www.zoominfo.com/p/Malika-Tanny/-1699799427

[2461 rows x 2 columns]

# Section 2

In [26]:
# Read the csv
df_2 = pd.read_csv("Document 2.csv")
print(df_2)

                  Full name   x Dup1     #                             Raison  \
0           appolinaire aka NaN    x   900                                NaN
1             arnaud vergez NaN    x   942                                NaN
2            amadou kouyate NaN    x   586                                NaN
3             amidou guindo NaN    x   630                                NaN
4     Alligué Louise Wognin NaN    x   549                                NaN
...                     ...  ..  ...   ...                                ...
2758                 Soizic NaN  NaN  7866                             Friend
2759       Thierry Arthaud  NaN  NaN  8237             Competitors & Partners
2760          Yacouba SYLLA NaN  NaN  8601  Prestataire & Source (Formaliste)
2761                Yannick NaN  NaN  8616                            Partner
2762              Yoro Diaw NaN  NaN  8721               Prestataire & Source

     Title  x.1                                                URL  \
0      NaN  NaN                                                NaN
1      NaN  NaN                                                NaN
2      NaN  NaN                                                NaN
3      NaN  NaN                                                NaN
4      NaN  NaN                                                NaN
...    ...  ...                                                ...
2758   NaN  NaN              www.linkedin.com/in/soizicmerdrignac/
2759   NaN  NaN                www.linkedin.com/in/thierryarthaud/
2760   NaN  NaN       www.linkedin.com/in/yacouba-sylla-142468175/
2761   NaN  NaN  www.linkedin.com/in/yannick-houphou%C3%ABt-kou...
2762   NaN  NaN           www.linkedin.com/in/yoro-diaw-1b734319/

                                  Email Address Dup2  ... x.4 Raw Data  \
0                        akappoli@iaco-oiac.org    x  ... NaN      NaN
1                     afrikannoncesci@yahoo.com    x  ... NaN      NaN
2            amadou.kouyate@BRIDGEBANKGROUP.com    x  ... NaN      NaN
3                             aguindo@bduci.com    x  ... NaN      NaN
4     alligueattouolouise.akouna@bnpparibas.com    x  ... NaN      NaN
...                                         ...  ...  ...  ..      ...
2758                                        NaN  NaN  ... NaN      NaN
2759                                        NaN  NaN  ... NaN      NaN
2760                                        NaN  NaN  ... NaN      NaN
2761                                        NaN  NaN  ... NaN      NaN
2762                                        NaN  NaN  ... NaN      NaN

     Biographie      First Name Last Name Twitter Photo x.5  \
0           NaN     appolinaire       aka     NaN   NaN NaN
1           NaN          arnaud    vergez     NaN   NaN NaN
2           NaN          amadou   kouyate     NaN   NaN NaN
3           NaN          amidou    guindo     NaN   NaN NaN
4           NaN  alligué louise    wognin     NaN   NaN NaN
...         ...             ...       ...     ...   ...  ..
2758        NaN             NaN       NaN     NaN   NaN NaN
2759        NaN             NaN       NaN     NaN   NaN NaN
2760        NaN             NaN       NaN     NaN   NaN NaN
2761        NaN             NaN       NaN     NaN   NaN NaN
2762        NaN             NaN       NaN     NaN   NaN NaN

                            Source Source_Contact
0     Excel: Base de donnee - 2015            NaN
1     Excel: Base de donnee - 2015            NaN
2     Excel: Base de donnee - 2015            NaN
3     Excel: Base de donnee - 2015            NaN
4     Excel: Base de donnee - 2015            NaN
...                            ...            ...
2758                           NaN            NaN
2759                           NaN            NaN
2760                           NaN            NaN
2761                           NaN            NaN
2762                           NaN            NaN

[2763 rows x 41 columns]

In [27]:
# Data cleaning
# Clean the database to remove duplicates and ensure one entry per person.
df_2.drop_duplicates(subset=["Full name"], inplace=True)

# Ensure all relevant information remains intact
# Combine all phone numbers into a single column
df_2["Phone numbers"] = df_2["Phone 1"].fillna("") + df_2["Phone 2"].fillna("") + df_2["Phone 3"].fillna("") + df_2["Phone 4"].fillna("")

# Capitalize the first letter of the first name and last name
df_2["First Name"] = df_2["First Name"].str.capitalize()
df_2["Last Name"] = df_2["Last Name"].str.capitalize()

df_2.head()

,Full name,x,Dup1,#,Raison,Title,x.1,URL,Email Address,Dup2,...,Raw Data,Biographie,First Name,Last Name,Twitter,Photo,x.5,Source,Source_Contact,Phone numbers
0,appolinaire aka,NaN,x,900,NaN,NaN,NaN,NaN,akappoli@iaco-oiac.org,x,...,NaN,NaN,Appolinaire,Aka,NaN,NaN,NaN,Excel: Base de donnee - 2015,NaN,(225) 20 21 61 31(225) 44 00 16 16
1,arnaud vergez,NaN,x,942,NaN,NaN,NaN,NaN,afrikannoncesci@yahoo.com,x,...,NaN,NaN,Arnaud,Vergez,NaN,NaN,NaN,Excel: Base de donnee - 2015,NaN,(225) 48 41 78 33(225) 21 34 64 65
2,amadou kouyate,NaN,x,586,NaN,NaN,NaN,NaN,amadou.kouyate@BRIDGEBANKGROUP.com,x,...,NaN,NaN,Amadou,Kouyate,NaN,NaN,NaN,Excel: Base de donnee - 2015,NaN,(225) 07 93 28 60(225) 20 21 62 09
3,amidou guindo,NaN,x,630,NaN,NaN,NaN,NaN,aguindo@bduci.com,x,...,NaN,NaN,Amidou,Guindo,NaN,NaN,NaN,Excel: Base de donnee - 2015,NaN,(225) 59 14 92 74(225) 20 20 30 51
4,Alligué Louise Wognin,NaN,x,549,NaN,NaN,NaN,NaN,alligueattouolouise.akouna@bnpparibas.com,x,...,NaN,NaN,Alligué louise,Wognin,NaN,NaN,NaN,Excel: Base de donnee - 2015,NaN,(225) 20 20 17 77(225) 08 17 58 37

In [28]:
pip install flask

Requirement already satisfied: flask in c:\users\kevin\anaconda3\lib\site-packages (2.2.5)
Requirement already satisfied: Werkzeug>=2.2.2 in c:\users\kevin\anaconda3\lib\site-packages (from flask) (2.2.3)
Requirement already satisfied: Jinja2>=3.0 in c:\users\kevin\anaconda3\lib\site-packages (from flask) (3.1.3)
Requirement already satisfied: itsdangerous>=2.0 in c:\users\kevin\anaconda3\lib\site-packages (from flask) (2.0.1)
Requirement already satisfied: click>=8.0 in c:\users\kevin\anaconda3\lib\site-packages (from flask) (8.1.7)
Requirement already satisfied: colorama in c:\users\kevin\anaconda3\lib\site-packages (from click>=8.0->flask) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\kevin\anaconda3\lib\site-packages (from Jinja2>=3.0->flask) (2.1.3)
Note: you may need to restart the kernel to use updated packages.

In [29]:
# Create a small website to display the contacts
# This involves using web development frameworks like Flask or Django
# You need to define routes to render HTML templates and pass the DataFrame data to the templates

# For example, using Flask:
from flask import Flask, render_template

app = Flask(__name__)

@app.route('/')
def contact_book():
    return render_template('contact_book.html', contacts=df_2.to_dict(orient='records'))

if __name__ == '__main__':
    app.run(debug=True)

 * Serving Flask app '__main__'
 * Debug mode: on

WARNING: This is a development server. Do not use it in a production deployment. Use a production WSGI server instead.
 * Running on http://127.0.0.1:5000
Press CTRL+C to quit
 * Restarting with watchdog (windowsapi)

SystemExit: 1

C:\Users\kevin\anaconda3\Lib\site-packages\IPython\core\interactiveshell.py:3561: UserWarning: To exit: use 'exit', 'quit', or Ctrl-D.
  warn("To exit: use 'exit', 'quit', or Ctrl-D.", stacklevel=1)

This code snippet is a basic example of how to use Flask, a web development framework in Python, to create a small web application. Let's break it down:

1. `from flask import Flask, render_template`: This line imports the Flask class and the `render_template` function from the Flask module. Flask is used to create web applications in Python, and `render_template` is a function provided by Flask to render HTML templates.

2. `app = Flask(__name__)`: This line creates a new Flask application instance. `__name__` is a special variable in Python that represents the name of the current module. When running the script directly, `__name__` is set to `"__main__"`, and when imported as a module, it's set to the module's name.

3. `@app.route('/')`: This is a decorator provided by Flask that defines the route for the web application. In this case, it specifies that the function below it (`contact_book()`) should be executed when the root URL `'/'` is accessed.

4. `def contact_book():`: This is a view function that defines the behavior when the specified route is accessed. In this case, it returns the result of calling `render_template()`.

5. `return render_template('contact_book.html', contacts=df_2.to_dict(orient='records'))`: This line calls the `render_template()` function to render an HTML template named `'contact_book.html'`. It also passes data to the template using the `contacts` variable, which is populated with the DataFrame `df_2` converted to a dictionary in the `'records'` orientation.

6. `if __name__ == '__main__':`: This condition checks if the script is being run directly (not imported as a module). If so, it runs the Flask application using `app.run()`.

7. `app.run(debug=True)`: This line starts the Flask development server. Setting `debug=True` enables debugging mode, which provides helpful error messages in case of issues and automatically restarts the server when changes are made to the code.

In summary, this code creates a Flask application with a single route (`'/'`) that renders an HTML template named `'contact_book.html'`. The template receives data from the DataFrame `df_2` and displays it to the user when they access the root URL of the web application.

# Section 3

In [ ]:
import pandas as pd
import smtplib
from email.mime.text import MIMEText
from email.mime.multipart import MIMEMultipart


# Sample email template
email_template = """
Dear {Name},

We are excited to inform you about our latest offerings. 
Please find more information in the attached document.

Best regards,
Your Company
"""

# Email configuration, please update your email credentials accrodingly
# Kindly replace, email credentials, and other placeholders with your actual data. 
# Also, ensure that you have enabled access for less secure apps in your Gmail settings 
# if you're using a Gmail account for sending emails.

email_address = "your_email@gmail.com"
email_password = "your_password"
smtp_server = "smtp.gmail.com"
smtp_port = 587

# Connect to the SMTP server
server = smtplib.SMTP(smtp_server, smtp_port)
server.starttls()
server.login(email_address, email_password)

# Iterate through each row in the dataset and send personalized emails
for index, row in df.iterrows():
    recipient_email = row['Email Address']
    subject = "Your Subject Here"
    
    # Prepare the email message
    message = MIMEMultipart()
    message['From'] = email_address
    message['To'] = recipient_email
    message['Subject'] = subject
    
    # Add the email body
    email_body = email_template.format(Name=row['Last Name'], Email=row['Email Address'])
    message.attach(MIMEText(email_body, 'plain'))
    
    # Send the email
    server.sendmail(email_address, recipient_email, message.as_string())
    print(f"Email sent to {recipient_email}")

# Close the SMTP server connection
server.quit()

# Section 4

Importing required libraries

In [45]:
import requests
from bs4 import BeautifulSoup

# Function to scrape notices of constitution from business.abidjan.net
def scrape_notices_of_constitution():
    url = "https://business.abidjan.net/annonces-legales"
    try:
        response = requests.get(url)
        response.raise_for_status()  # Raise exception for HTTP errors
        if response.status_code == 200:
            soup = BeautifulSoup(response.text, 'html.parser')
            notices = soup.find_all("div", class_="grd-item prefooter-bloc")[:100]  # Limit to first 100 notices
            results = []
            for notice in notices:
                # Extract relevant information from the notice
                title = notice.find("a", class_="title").text.strip()
                date = notice.find("div", class_="txt").text.strip().split('-')[0]
                link = notice.find("a")["href"]
                # Append the information to results list
                results.append({"Title": title, "Date": date, "Link": link})
            return results
        else:
            print("Failed to fetch data from the website")
            return []
    except requests.exceptions.RequestException as e:
        print(f"Error fetching data: {e}")
        return []

# Call the function to scrape notices of constitution
results = scrape_notices_of_constitution()

# Print the results
for result in results:
    print(result)

{'Title': 'ECOBANK  COTE D’IVOIRE', 'Date': "AVIS D'ASSEMBLEE GENERALE\n                                    2024", 'Link': 'https://business.abidjan.net/annonces-legales/8-avis-dassemblee-generale/130849-ecobank-cote-divoire'}
{'Title': 'YANGO DELIVERY CIV', 'Date': 'AVIS DE NOMINATION\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/5-avis-de-nomination/130848-yango-delivery-civ'}
{'Title': 'NOUVELLE MICI-EMBACI', 'Date': 'AVIS DE MODIFICATION\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/25-avis-de-modification/130847-nouvelle-mici-embaci'}
{'Title': 'NOLIDAV GROUP INTERNATIONAL SARLU', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130846-nolidav-group-international-sarlu'}
{'Title': 'GROUPEMEMENT IVOIRIEN D`INVESTISSEMENT « G2I »', 'Date': 'AVIS DE CONVOCATION\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/42-avis-de-convocation/130845-groupemement-ivoirien-dinvestissement-g2i'}
{'Title': 'MINISTERE DE L’AGRICULTURE', 'Date': 'AUTRES CATEGORIES\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/4-autres-categories/130844-ministere-de-lagriculture'}
{'Title': 'MINISTERE DE L’AGRICULTURE', 'Date': 'AUTRES CATEGORIES\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/4-autres-categories/130843-ministere-de-lagriculture'}
{'Title': '3M.DA TRANSPORT ET SERVICES', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130842-3mda-transport-et-services'}
{'Title': 'IVORAGRI', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130841-ivoragri'}
{'Title': 'SANKOFA', 'Date': 'AVIS DECLARATION D’ASSOCIATION\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/54-avis-declaration-dassociation/130840-sankofa'}
{'Title': 'SABABOU SARLU', 'Date': 'CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/46-constitution-de-societe/130839-sababou-sarlu'}
{'Title': 'COLLEGE PRIVE AGNINTIEH D’ATTIEKRO', 'Date': 'CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/46-constitution-de-societe/130838-college-prive-agnintieh-dattiekro'}
{'Title': 'MULTI TRANSPORT LOGISTICS (M.T.L)', 'Date': 'MODIFICATION DE STATUT\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/9-modification-de-statut/130837-multi-transport-logistics-mtl'}
{'Title': 'CIDIN SCOOPS', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130836-cidin-scoops'}
{'Title': 'COLLEGE PRMI OBAMA', 'Date': 'AVIS DE MODIFICATION\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/25-avis-de-modification/130835-college-prmi-obama'}
{'Title': 'VIVA-PUB', 'Date': 'DISSOLUTION\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/11-dissolution/130834-viva-pub'}
{'Title': 'AMARI SARL', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130833-amari-sarl'}
{'Title': 'CABINET DE GEOMETRE – EXPERT KICOUN ALPHONSE » (CGE - KICOUN)', 'Date': 'CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/46-constitution-de-societe/130832-cabinet-de-geometre-expert-kicoun-alphonse-cge-kicoun'}
{'Title': 'ENY CONSULTING', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130831-eny-consulting'}
{'Title': 'ALEA CONSULTING GROUP COTE D’IVOIRE', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130830-alea-consulting-group-cote-divoire'}
{'Title': 'SHALOM TRAVEL INC SARL', 'Date': 'CESSIONS DE PARTS SOCIALES\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/49-cessions-de-parts-sociales/130829-shalom-travel-inc-sarl'}
{'Title': 'MORIJAH & CO', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130828-morijah-co'}
{'Title': 'NSIA BANQUE CÔTE D`IVOIRE (NSIA BANQUE CI)', 'Date': 'VENTE SUR SAISIE IMMOBILIERE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/24-vente-sur-saisie-immobiliere/130827-nsia-banque-cote-divoire-nsia-banque-ci'}
{'Title': 'BTP OUATTARA MULTI- SERVICE SARLU', 'Date': 'CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/46-constitution-de-societe/130826-btp-ouattara-multi-service-sarlu'}
{'Title': 'MOHAMED ET ZALIKA COMPAGNIE SARL U «MOZA & CO SARL U»', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130825-mohamed-et-zalika-compagnie-sarl-u-moza-co-sarl-u'}
{'Title': 'SOCIETE COOPERATIVE SIMPLIFIEE AFFILIÊ D’AYA- SAKASSOU «SCOOP-S AAS»', 'Date': 'CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/46-constitution-de-societe/130824-societe-cooperative-simplifiee-affilie-daya-sakassou-scoop-s-aas'}
{'Title': 'DAOUD TRANSPORT', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130823-daoud-transport'}
{'Title': 'C.A.R.D.', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130822-card'}
{'Title': 'SOCIETE COOPERATIVE AGRO-PASTORALE DU TONKPI «CAP-TONKPI COOP-CA»', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130821-societe-cooperative-agro-pastorale-du-tonkpi-cap-tonkpi-coop-ca'}
{'Title': '', 'Date': '', 'Link': 'https://business.abidjan.net/annonces-legales/-/-'}
{'Title': 'B M TRANSPORT', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130819-b-m-transport'}
{'Title': 'BINDER’S GROUP', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130818-binders-group'}
{'Title': 'BAMBA DRAMANE ET FILS TRANSPORT', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130817-bamba-dramane-et-fils-transport'}
{'Title': 'BADOH COMPANY', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130816-badoh-company'}
{'Title': 'ARTISANS-PRO-BAT SARL', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130815-artisans-pro-bat-sarl'}
{'Title': 'SOCIÉTÉ COOPÉRATIVE SIMPLIFIÉE AGRICOLE CHIGATA (SCOOPS AGRICOLE COOP- CHIGATA)', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130814-societe-cooperative-simplifiee-agricole-chigata-scoops-agricole-coop-chigata'}
{'Title': 'LE CHAMP D’OR SARL U', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130813-le-champ-dor-sarl-u'}
{'Title': 'LA MINE D’OR DES LACS SARL U', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130812-la-mine-dor-des-lacs-sarl-u'}
{'Title': 'IVOIR RESSOURCES SARL U', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130811-ivoir-ressources-sarl-u'}
{'Title': 'ELJ TRESOR SARL', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130810-elj-tresor-sarl'}
{'Title': 'ANGE DE LA MINE D’OR SARL', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130809-ange-de-la-mine-dor-sarl'}
{'Title': 'SOCIETE MINIERE DU BELIER SARL U', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130808-societe-miniere-du-belier-sarl-u'}
{'Title': 'HARMONY GOLD SARL', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130807-harmony-gold-sarl'}
{'Title': 'AFRICAN COMPANY SUPPLYING AND BTP «ACS & BTP»', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130806-african-company-supplying-and-btp-acs-btp'}
{'Title': 'BIG ENERGY', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130805-big-energy'}
{'Title': 'BIG ENERGY', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130804-big-energy'}
{'Title': 'SOCIETE COOPERATIVE SIMPLIFIEE SOURALEY DE BROMAKOTE «SOURALEY SCOOP-S»', 'Date': 'CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/46-constitution-de-societe/130803-societe-cooperative-simplifiee-souraley-de-bromakote-souraley-scoop-s'}
{'Title': 'SOCIETE COOPERATIVE SIMPLIFIEE ELLIKEKPA D’AHOUE «SCOOPS ELLIKEKPA»', 'Date': 'CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/46-constitution-de-societe/130802-societe-cooperative-simplifiee-ellikekpa-dahoue-scoops-ellikekpa'}
{'Title': 'ENTREPRISE COOPÉRATIVE DES JEUNES ENTREPRENEURS AGRICOLES DE BLOLÉQUIN (ECOJABSCOOPS)', 'Date': 'AVIS DE CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130801-entreprise-cooperative-des-jeunes-entrepreneurs-agricoles-de-blolequin-ecojabscoops'}
{'Title': 'SOCIETE COOPERATIVE SIMPLIFIEE DES FEMMES PRODUCTRICES D’ATTIEKE DE DABAKALA (COFEMPAD SCOOP-S)', 'Date': 'CONSTITUTION DE SOCIETE\n                                    2024', 'Link': 'https://business.abidjan.net/annonces-legales/46-constitution-de-societe/130800-societe-cooperative-simplifiee-des-femmes-productrices-dattieke-de-dabakala-cofempad-scoop-s'}

In [47]:
# Print the results
for result in results:
    title = result["Title"]
    date = result["Date"].strip()
    link = result["Link"]
    
    print(f"{'Title':<60}: {title}")
    print(f"{'Date':<60}: {date}")
    print(f"{'Link':<60}: {link}")
    print()

Title                                                       : ECOBANK  COTE D’IVOIRE
Date                                                        : AVIS D'ASSEMBLEE GENERALE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/8-avis-dassemblee-generale/130849-ecobank-cote-divoire

Title                                                       : YANGO DELIVERY CIV
Date                                                        : AVIS DE NOMINATION
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/5-avis-de-nomination/130848-yango-delivery-civ

Title                                                       : NOUVELLE MICI-EMBACI
Date                                                        : AVIS DE MODIFICATION
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/25-avis-de-modification/130847-nouvelle-mici-embaci

Title                                                       : NOLIDAV GROUP INTERNATIONAL SARLU
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130846-nolidav-group-international-sarlu

Title                                                       : GROUPEMEMENT IVOIRIEN D`INVESTISSEMENT « G2I »
Date                                                        : AVIS DE CONVOCATION
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/42-avis-de-convocation/130845-groupemement-ivoirien-dinvestissement-g2i

Title                                                       : MINISTERE DE L’AGRICULTURE
Date                                                        : AUTRES CATEGORIES
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/4-autres-categories/130844-ministere-de-lagriculture

Title                                                       : MINISTERE DE L’AGRICULTURE
Date                                                        : AUTRES CATEGORIES
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/4-autres-categories/130843-ministere-de-lagriculture

Title                                                       : 3M.DA TRANSPORT ET SERVICES
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130842-3mda-transport-et-services

Title                                                       : IVORAGRI
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130841-ivoragri

Title                                                       : SANKOFA
Date                                                        : AVIS DECLARATION D’ASSOCIATION
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/54-avis-declaration-dassociation/130840-sankofa

Title                                                       : SABABOU SARLU
Date                                                        : CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/46-constitution-de-societe/130839-sababou-sarlu

Title                                                       : COLLEGE PRIVE AGNINTIEH D’ATTIEKRO
Date                                                        : CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/46-constitution-de-societe/130838-college-prive-agnintieh-dattiekro

Title                                                       : MULTI TRANSPORT LOGISTICS (M.T.L)
Date                                                        : MODIFICATION DE STATUT
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/9-modification-de-statut/130837-multi-transport-logistics-mtl

Title                                                       : CIDIN SCOOPS
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130836-cidin-scoops

Title                                                       : COLLEGE PRMI OBAMA
Date                                                        : AVIS DE MODIFICATION
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/25-avis-de-modification/130835-college-prmi-obama

Title                                                       : VIVA-PUB
Date                                                        : DISSOLUTION
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/11-dissolution/130834-viva-pub

Title                                                       : AMARI SARL
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130833-amari-sarl

Title                                                       : CABINET DE GEOMETRE – EXPERT KICOUN ALPHONSE » (CGE - KICOUN)
Date                                                        : CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/46-constitution-de-societe/130832-cabinet-de-geometre-expert-kicoun-alphonse-cge-kicoun

Title                                                       : ENY CONSULTING
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130831-eny-consulting

Title                                                       : ALEA CONSULTING GROUP COTE D’IVOIRE
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130830-alea-consulting-group-cote-divoire

Title                                                       : SHALOM TRAVEL INC SARL
Date                                                        : CESSIONS DE PARTS SOCIALES
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/49-cessions-de-parts-sociales/130829-shalom-travel-inc-sarl

Title                                                       : MORIJAH & CO
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130828-morijah-co

Title                                                       : NSIA BANQUE CÔTE D`IVOIRE (NSIA BANQUE CI)
Date                                                        : VENTE SUR SAISIE IMMOBILIERE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/24-vente-sur-saisie-immobiliere/130827-nsia-banque-cote-divoire-nsia-banque-ci

Title                                                       : BTP OUATTARA MULTI- SERVICE SARLU
Date                                                        : CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/46-constitution-de-societe/130826-btp-ouattara-multi-service-sarlu

Title                                                       : MOHAMED ET ZALIKA COMPAGNIE SARL U «MOZA & CO SARL U»
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130825-mohamed-et-zalika-compagnie-sarl-u-moza-co-sarl-u

Title                                                       : SOCIETE COOPERATIVE SIMPLIFIEE AFFILIÊ D’AYA- SAKASSOU «SCOOP-S AAS»
Date                                                        : CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/46-constitution-de-societe/130824-societe-cooperative-simplifiee-affilie-daya-sakassou-scoop-s-aas

Title                                                       : DAOUD TRANSPORT
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130823-daoud-transport

Title                                                       : C.A.R.D.
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130822-card

Title                                                       : SOCIETE COOPERATIVE AGRO-PASTORALE DU TONKPI «CAP-TONKPI COOP-CA»
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130821-societe-cooperative-agro-pastorale-du-tonkpi-cap-tonkpi-coop-ca

Title                                                       :
Date                                                        :
Link                                                        : https://business.abidjan.net/annonces-legales/-/-

Title                                                       : B M TRANSPORT
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130819-b-m-transport

Title                                                       : BINDER’S GROUP
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130818-binders-group

Title                                                       : BAMBA DRAMANE ET FILS TRANSPORT
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130817-bamba-dramane-et-fils-transport

Title                                                       : BADOH COMPANY
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130816-badoh-company

Title                                                       : ARTISANS-PRO-BAT SARL
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130815-artisans-pro-bat-sarl

Title                                                       : SOCIÉTÉ COOPÉRATIVE SIMPLIFIÉE AGRICOLE CHIGATA (SCOOPS AGRICOLE COOP- CHIGATA)
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130814-societe-cooperative-simplifiee-agricole-chigata-scoops-agricole-coop-chigata

Title                                                       : LE CHAMP D’OR SARL U
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130813-le-champ-dor-sarl-u

Title                                                       : LA MINE D’OR DES LACS SARL U
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130812-la-mine-dor-des-lacs-sarl-u

Title                                                       : IVOIR RESSOURCES SARL U
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130811-ivoir-ressources-sarl-u

Title                                                       : ELJ TRESOR SARL
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130810-elj-tresor-sarl

Title                                                       : ANGE DE LA MINE D’OR SARL
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130809-ange-de-la-mine-dor-sarl

Title                                                       : SOCIETE MINIERE DU BELIER SARL U
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130808-societe-miniere-du-belier-sarl-u

Title                                                       : HARMONY GOLD SARL
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130807-harmony-gold-sarl

Title                                                       : AFRICAN COMPANY SUPPLYING AND BTP «ACS & BTP»
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130806-african-company-supplying-and-btp-acs-btp

Title                                                       : BIG ENERGY
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130805-big-energy

Title                                                       : BIG ENERGY
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130804-big-energy

Title                                                       : SOCIETE COOPERATIVE SIMPLIFIEE SOURALEY DE BROMAKOTE «SOURALEY SCOOP-S»
Date                                                        : CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/46-constitution-de-societe/130803-societe-cooperative-simplifiee-souraley-de-bromakote-souraley-scoop-s

Title                                                       : SOCIETE COOPERATIVE SIMPLIFIEE ELLIKEKPA D’AHOUE «SCOOPS ELLIKEKPA»
Date                                                        : CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/46-constitution-de-societe/130802-societe-cooperative-simplifiee-ellikekpa-dahoue-scoops-ellikekpa

Title                                                       : ENTREPRISE COOPÉRATIVE DES JEUNES ENTREPRENEURS AGRICOLES DE BLOLÉQUIN (ECOJABSCOOPS)
Date                                                        : AVIS DE CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/1-avis-de-constitution-de-societe/130801-entreprise-cooperative-des-jeunes-entrepreneurs-agricoles-de-blolequin-ecojabscoops

Title                                                       : SOCIETE COOPERATIVE SIMPLIFIEE DES FEMMES PRODUCTRICES D’ATTIEKE DE DABAKALA (COFEMPAD SCOOP-S)
Date                                                        : CONSTITUTION DE SOCIETE
                                    2024
Link                                                        : https://business.abidjan.net/annonces-legales/46-constitution-de-societe/130800-societe-cooperative-simplifiee-des-femmes-productrices-dattieke-de-dabakala-cofempad-scoop-s

In [42]:
scrape_notices_of_constitution()

[]

In [37]:
# Function to scrape PDF documents from tribunalcommerceabidjan.org
def scrape_pdf_documents():
    url = "https://tribunalcommerceabidjan.org/"
    try:
        response = requests.get(url)
        response.raise_for_status()  # Raise exception for HTTP errors
        if response.status_code == 200:
            soup = BeautifulSoup(response.text, 'html.parser')
            pdf_links = soup.find_all("a", href=True)[:100]  # Limit to first 100 PDF links
            for pdf_link in pdf_links:
                # Extract the PDF link
                pdf_url = pdf_link["href"]
                # Download or process the PDF
                # For example, you can download the PDF using requests
                # pdf_response = requests.get(pdf_url)
                # with open(f"document_{pdf_links.index(pdf_link) + 1}.pdf", "wb") as f:
                #     f.write(pdf_response.content)
                # Or you can use pdfkit to convert the PDF to text or HTML
                # pdfkit.from_url(pdf_url, f"document_{pdf_links.index(pdf_link) + 1}.html")
                # Or any other processing logic you require
                print(f"PDF Link: {pdf_url}")
                print("-" * 50)
        else:
            print("Failed to fetch data from the website")
    except requests.exceptions.RequestException as e:
        print(f"Error fetching data: {e}")

In [38]:
scrape_pdf_documents()

Error fetching data: HTTPSConnectionPool(host='tribunalcommerceabidjan.org', port=443): Max retries exceeded with url: / (Caused by ConnectTimeoutError(<urllib3.connection.HTTPSConnection object at 0x0000020FDFC7FD50>, 'Connection to tribunalcommerceabidjan.org timed out. (connect timeout=None)'))

After troubleshooting I noticed that, url = "https://tribunalcommerceabidjan.org/" can not be accessed manually using a browser

# Section 5: Performing topic modeling

In [51]:
import pandas as pd
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from gensim import matutils
from gensim.models import LdaModel
from sklearn.feature_extraction.text import CountVectorizer

# Load the dataset
df = pd.read_csv("Document 3 (LSE Dissertation).csv")

# Preprocessing
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

def preprocess_text(text):
    tokens = word_tokenize(text.lower())  # Tokenization and lowercasing
    filtered_tokens = [token for token in tokens if token.isalnum() and token not in stop_words]  # Remove stopwords and non-alphanumeric tokens
    lemmatized_tokens = [lemmatizer.lemmatize(token) for token in filtered_tokens]  # Lemmatization
    return lemmatized_tokens

# Apply preprocessing to the text column
df['clean_text'] = df['Tweet'].apply(preprocess_text)

# Create document-term matrix
vectorizer = CountVectorizer(tokenizer=lambda x: x)
doc_term_matrix = vectorizer.fit_transform(df['clean_text'].apply(lambda x: ' '.join(x)))

# Convert sparse matrix to corpus in gensim format
corpus = matutils.Sparse2Corpus(doc_term_matrix.transpose())

# Perform LDA topic modeling
lda_model = LdaModel(corpus=corpus, id2word=dict((v, k) for k, v in vectorizer.vocabulary_.items()), num_topics=5, passes=20)

# Print the topics
print("Top topics and their keywords:")
for idx, topic in lda_model.print_topics():
    print(f"Topic {idx}: {topic}")

# Assign topics to documents
df['topic'] = [max(lda_model.get_document_topics(corpus[i]), key=lambda x: x[1])[0] for i in range(len(corpus))]

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\kevin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\kevin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\kevin\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

Top topics and their keywords:
Topic 0: 0.172*" " + 0.139*"e" + 0.071*"i" + 0.063*"s" + 0.061*"a" + 0.056*"l" + 0.053*"r" + 0.049*"c" + 0.043*"u" + 0.041*"o"
Topic 1: 0.135*" " + 0.099*"e" + 0.081*"m" + 0.074*"n" + 0.070*"c" + 0.062*"a" + 0.058*"i" + 0.052*"o" + 0.052*"0" + 0.035*"r"
Topic 2: 0.167*" " + 0.082*"i" + 0.072*"o" + 0.069*"e" + 0.065*"t" + 0.061*"n" + 0.061*"r" + 0.061*"u" + 0.055*"a" + 0.049*"c"
Topic 3: 0.178*" " + 0.066*"0" + 0.061*"i" + 0.054*"a" + 0.050*"c" + 0.046*"s" + 0.042*"2" + 0.038*"o" + 0.037*"e" + 0.034*"3"
Topic 4: 0.128*" " + 0.095*"i" + 0.082*"e" + 0.079*"a" + 0.072*"t" + 0.071*"c" + 0.050*"l" + 0.048*"o" + 0.048*"s" + 0.041*"v"

# Section 6: Performing sentiment analysis

In [53]:
pip install textblob

Collecting textblob
  Downloading textblob-0.18.0.post0-py3-none-any.whl.metadata (4.5 kB)
Requirement already satisfied: nltk>=3.8 in c:\users\kevin\anaconda3\lib\site-packages (from textblob) (3.8.1)
Requirement already satisfied: click in c:\users\kevin\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (8.1.7)
Requirement already satisfied: joblib in c:\users\kevin\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\kevin\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\kevin\anaconda3\lib\site-packages (from nltk>=3.8->textblob) (4.65.0)
Requirement already satisfied: colorama in c:\users\kevin\anaconda3\lib\site-packages (from click->nltk>=3.8->textblob) (0.4.6)
Downloading textblob-0.18.0.post0-py3-none-any.whl (626 kB)
   ---------------------------------------- 0.0/626.3 kB ? eta -:--:--
    --------------------------------------- 10.2/626.3 kB ? eta -:--:--
   - ------------------------------------- 30.7/626.3 kB 660.6 kB/s eta 0:00:01
   -- ------------------------------------ 41.0/626.3 kB 326.8 kB/s eta 0:00:02
   ---- ---------------------------------- 71.7/626.3 kB 491.5 kB/s eta 0:00:02
   ------ ------------------------------- 112.6/626.3 kB 544.7 kB/s eta 0:00:01
   --------- ---------------------------- 153.6/626.3 kB 610.0 kB/s eta 0:00:01
   ------------- ------------------------ 225.3/626.3 kB 765.3 kB/s eta 0:00:01
   ---------------- --------------------- 276.5/626.3 kB 811.7 kB/s eta 0:00:01
   ------------------ ------------------- 307.2/626.3 kB 824.9 kB/s eta 0:00:01
   -------------------- ----------------- 337.9/626.3 kB 807.1 kB/s eta 0:00:01
   -------------------- ----------------- 337.9/626.3 kB 807.1 kB/s eta 0:00:01
   -------------------- ----------------- 337.9/626.3 kB 807.1 kB/s eta 0:00:01
   ---------------------- --------------- 368.6/626.3 kB 636.6 kB/s eta 0:00:01
   -------------------------- ----------- 430.1/626.3 kB 745.7 kB/s eta 0:00:01
   --------------------------- ---------- 450.6/626.3 kB 704.5 kB/s eta 0:00:01
   --------------------------- ---------- 460.8/626.3 kB 670.5 kB/s eta 0:00:01
   ---------------------------------- --- 563.2/626.3 kB 737.3 kB/s eta 0:00:01
   ------------------------------------ - 593.9/626.3 kB 732.3 kB/s eta 0:00:01
   -------------------------------------- 626.3/626.3 kB 730.0 kB/s eta 0:00:00
Installing collected packages: textblob
Successfully installed textblob-0.18.0.post0
Note: you may need to restart the kernel to use updated packages.

In [54]:
import pandas as pd
from textblob import TextBlob

# Load the dataset
df = pd.read_csv("Document 3 (LSE Dissertation).csv")

# Perform sentiment analysis
sentiment_scores = df['Tweet'].apply(lambda x: TextBlob(str(x)).sentiment.polarity)

# Classify sentiment into positive, negative, or neutral
def classify_sentiment(score):
    if score > 0:
        return 'Positive'
    elif score < 0:
        return 'Negative'
    else:
        return 'Neutral'

# Add sentiment classification to the dataframe
df['Sentiment Score'] = sentiment_scores
df['Sentiment'] = sentiment_scores.apply(classify_sentiment)

# Display the results
print(df[['Tweet', 'Sentiment Score', 'Sentiment']].head())

                                               Tweet  Sentiment Score  \
0  S.O.S, pour les malades de l insuffisance rena...              0.0
1  #civsocial, CICR, OMS, AIDIR, MEDECINS SANS FR...              0.0
2  S.O.S en CIV,#civsocial, CICR, OMS, AIDIR, MED...              0.0
3  S.O.S,PLEASE HELP dialysis patients in Ivory C...              0.0
4  S.O.S,PLEASE HELP dialysis patients in Ivory C...              0.0

  Sentiment
0   Neutral
1   Neutral
2   Neutral
3   Neutral
4   Neutral

# Section 7 : Convert jpg file to excel

In [55]:
pip install pytesseract pillow pandas openpyxl

Collecting pytesseract
  Downloading pytesseract-0.3.10-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: pillow in c:\users\kevin\anaconda3\lib\site-packages (10.2.0)
Requirement already satisfied: pandas in c:\users\kevin\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: openpyxl in c:\users\kevin\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: packaging>=21.3 in c:\users\kevin\anaconda3\lib\site-packages (from pytesseract) (23.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\kevin\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\kevin\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: numpy>=1.21.0 in c:\users\kevin\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: et_xmlfile in c:\users\kevin\anaconda3\lib\site-packages (from openpyxl) (1.1.0)
Requirement already satisfied: six>=1.5 in c:\users\kevin\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Downloading pytesseract-0.3.10-py3-none-any.whl (14 kB)
Installing collected packages: pytesseract
Successfully installed pytesseract-0.3.10
Note: you may need to restart the kernel to use updated packages.

In [69]:
import cv2
import pytesseract
import pandas as pd
from zipfile import ZipFile
import os

# Path to the zip file containing JPG files
zip_file_path = "Images.zip"

# Destination directory to extract images
extracted_directory = "extracted_images"

# Extract images from the zip file
with ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall(extracted_directory)

# Extract text from each JPG file
def extract_text_from_image(image_path):
    image = cv2.imread(image_path)
    text = pytesseract.image_to_string(image)
    return text.strip()

# Process all JPG files in the extracted directory
jpg_files = os.listdir(extracted_directory)
data = []

for jpg_file in jpg_files:
    if jpg_file.endswith('.jpg'):
        jpg_path = os.path.join(extracted_directory, jpg_file)
        text = extract_text_from_image(jpg_path)
        data.append({'File': jpg_file, 'Text': text})

# Convert data to DataFrame
df = pd.DataFrame(data)

# Save DataFrame to Excel and CSV files
excel_file = "output.xlsx"
csv_file = "output.csv"

df.to_excel(excel_file, index=False)
df.to_csv(csv_file, index=False)

print("Excel and CSV files saved successfully.")

Excel and CSV files saved successfully.